@import './mixins/colors.scss';

body {
  background: $backgroundColor;
}


.photo {
  width: 100px;
  height: 142px;
  border-radius: 3px;
  float: left;
}

.bg {
  width: 304px;
  height: 142px;
  border-radius: 3px;
  background-color: #fafafa;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
}

.apps__header {
  width: 320px;
  height: 133px;
  background-color: #607d8b;
  box-shadow: 0 0 8px 0 rgba(96, 125, 139, 0.12), 0 8px 8px 0 rgba(96, 125, 139, 0.24);
  padding: 5px;
}

.apps__search  {
  width: 304px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  margin: 0 auto;
}

.apps__sort-button {
  border: 0px;
  background-color: #607d8b;
  width: 148px;
  height: 24px;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: #ffffff;
  float: left;
}